* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    
}
:root {
    --btn-background: #30B868
}

/* Navigation Bar */
.nav {
    overflow: hidden;
}
.n_container {
    width: 90%;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.n_logo {
    width: 100px;
}
.n_list_container {
    display: flex;
    gap: 5px;
}
.n_list_container a {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
    transition: color 0.3s ease;
}
.n_list_container a:hover {
    color: var(--btn-background);
}
.n_btn {
    background-color: var(--btn-background);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.n_btn :hover {
    background-color: #199149;
}
.n_btn a {
    color: #fff;
    font-weight: 600;
    padding: 12px 15px;
    display: inline-block;
    border-radius: 5px;
}

/* Main Content styles */
.main_content_container {
    width: 90%;
    margin: auto;
}
/* Banner Section */
.bnr_container {
    padding-top:100px;
    padding-bottom:100px;
    text-align: center;
    color:#fff;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}
.second_head {
    color: var(--btn-background);
    margin-top: 10px;
    margin-bottom: 10px;
}

.bnr_container p {
    margin:auto;
    width: 60%;
    font-size: 14px;
}
.bnr_top_btn {
    border:none;
    border-radius: 15px;
}
.bnr_top_btn a{
    display: inline-block;
    color: var(--btn-background);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;;
}
.bnr_btn_container {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}
.bnr_btn_container button {
    border: none;
    background-color: transparent;
    transition: var(--btn-background) 0.3s ease;
}

.bnr_btn_container button a {
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    text-align: center;
}
.bnr_btn1 a {
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
.bnr_btn2 a {
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
.bnr_btn1 a img {
    width: 16px;
}
.bnr_btn2 a img {
    width: 16px;
}
.bnr_btn_container button :hover {
    background-color: var(--btn-background);
    border: none;
}

/* Notes Section */
.note_container {
    text-align:center;
    margin-top: 30px;
    margin-bottom: 50px;

}
.note_container h2 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
}
.note_container p {
    font-size: 15px;
}
.note_card_container {
    display:flex;
    align-items:center;
    margin-top: 30px;
    text-align: center;
    gap: 20px;
}
.note_card_container .card {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:20px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius:8px;
}
.note_card_container .card_logo {
    background-color: #F95555;
    padding:10px;
    width: 40px;
    height: 40px;
    border-radius:50%;
}
.note_card_container .card_logo img {
    width: 100%;
}
.note_card_container .card h4 {
    font-weight: 700;
    font-size: 17px;
}
.note_card_container .card p {
    font-size: 14px;
}
/* Brain Structure Section */
.brain_section_container {
    margin-top:50px;
    margin-bottom:50px;    display:flex;
    align-items:center;
    gap: 40px;
    justify-content:space-between;
}
.brain_img_container {
    margin: 20px;
}
.brain_text_container {
    text-align: left;
    display: flex;
    flex-direction:column;
    gap:10px;
}
.solution {
    color: var(--btn-background);
    font-weight:700;
}
.brain_text_container h2 {
    font-weight: 700;
    font-size: 28px;
}
.brain_text_container p {
    font-size: 14px;
}
.bolet_item_container {
    margin-top: 20px;
}
.bolet_item_container h5 {
    display: flex;
    align-items:center;
    gap: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}
.bolet_item_container h5 img {
    width: 20px;
}